global:
  scrape_interval: 15s

scrape_configs:
- job_name: 'worker_vms'
  scrape_interval: 5s
  {% if prometheus_host is defined %}
  static_configs:
    {% for host in monitoring_hosts.split(',') %}
    - targets: ['{{ host }}:9100']
    {% endfor %}
  {% endif %}
