global:
  scrape_interval: 15s

scrape_configs:
- job_name: 'cockroach_vms'
  scrape_interval: 5s
  static_configs:
    {% for host in monitoring_hosts.split(',') %}
    - targets: ['{{ host }}:9090']
    {% endfor %}
