[Unit]
Description=Consul Server Service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=consul
ExecStart=consul agent -config-dir=/etc/consul.d

[Install]
WantedBy=multi-user.target