{{public_gateway_ip}} {{azure_remote_gateway_ip}} : PSK "{{psk}}"
{{public_gateway_ip}} {{gcp_remote_gateway_ip}} : PSK "{{psk}}"
{{public_gateway_ip}} {{other_strongswan_gateway_ip}} : PSK "{{psk}}"
