config setup
    protostack=netkey

conn %default
    auto=start
    compress=no
    ikev2=insist
    authby=secret
    ike=aes256-sha1-modp1024 # tested for azure, gcp, StrongSWAN<>LibreSWAN, but FIXME: insecure
    left={{public_gateway_ip}}
    leftsubnet={{local_cidr}}
    # We need to set the source IP address here, otherwise packages for 10.0.0.0/8 would be routed through the default
    # gateway, i.e., the public internet. See https://libreswan.org/wiki/Subnet_to_subnet_VPN_with_PSK and
    # https://libreswan.org/man/ipsec.conf.5.html
    leftsourceip={{local_gateway_ip}}
    aggressive=no
    keyingtries=%forever
    ikelifetime=28800s
    lifetime=3600s
    dpddelay=30s
    dpdtimeout=120s
    dpdaction=restart

conn to-azure
    right={{azure_remote_gateway_ip}}
    rightsubnet={{azure_remote_cidr}}

conn to-gcp
    right={{gcp_remote_gateway_ip}}
    rightsubnet={{gcp_remote_cidr}}

conn to-hetzner
    right={{other_strongswan_gateway_ip}}
    rightsubnet={{other_strongswan_remote_cidr}}
