resinfra_subscription_id = "00000000-0000-0000-0000-000000000000"
hcloud_token = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
aws_access_key = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
aws_secret_key = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
username = "resinfra"
