config setup
    charondebug="ike 2, knl 2, cfg 2, net 2, esp 2, dmn 2, mgr 2"
    strictcrlpolicy=no
    uniqueids=yes
    cachecrls=no

conn hetzner-azure
    auto=start
    compress=no
    type=tunnel
    keyexchange=ikev2
    authby=secret
    left={{public_gateway_ip}} 
    leftsubnet={{local_cidr}} 
    right={{azure_remote_gateway_ip}} 
    rightsubnet={{azure_remote_cidr}}
    ike=aes256-sha1-modp1024 # tested for azure
    aggressive=no
    keyingtries=%forever
    ikelifetime=28800s
    lifetime=3600s
    dpddelay=30s
    dpdtimeout=120s
    dpdaction=restart

conn hetzner-gcp
    auto=start
    compress=no
    type=tunnel
    keyexchange=ikev2
    authby=secret
    left={{public_gateway_ip}} 
    leftsubnet={{local_cidr}} 
    right={{gcp_remote_gateway_ip}} 
    rightsubnet={{gcp_remote_cidr}}
    ike=aes256-sha1-modp1024 # tested for gcp
    aggressive=no
    keyingtries=%forever
    ikelifetime=28800s
    lifetime=3600s
    dpddelay=30s
    dpdtimeout=120s
    dpdaction=restart