config setup
    charondebug="ike 2, knl 2, cfg 2, net 2, esp 2, dmn 2, mgr 2"
    strictcrlpolicy=no
    uniqueids=yes
    cachecrls=no

conn %default
    auto=start
    compress=no
    type=tunnel
    keyexchange=ikev2
    authby=secret
    ike=aes256-sha1-modp1024 # tested for azure and gcp
    aggressive=no
    keyingtries=%forever
    ikelifetime=28800s
    lifetime=3600s
    dpddelay=30s
    dpdtimeout=120s
    dpdaction=restart

# todo generate by loop using some kind of map as input

conn to-azure
    left=${public_gateway_ip}
    leftsubnet=${local_cidr}
    right=${azure_remote_gateway_ip}
    rightsubnet=${azure_remote_cidr}

conn to-gcp
    left=${public_gateway_ip}
    leftsubnet=${local_cidr}
    right=${gcp_remote_gateway_ip}
    rightsubnet=${gcp_remote_cidr}

conn to-proxmox-or-hetzner-depending-on-what-this-is
    left=${public_gateway_ip}
    leftsubnet=${local_cidr}
    right=${other_strongswan_gateway_ip}
    rightsubnet=${other_strongswan_remote_cidr}
